<app-header></app-header>
<div class="main-container-login">
  <div class="card-login">
    <div class="main-container">
      <p class="title">Grupos de Test</p>
      <form ngNativeValidate [formGroup]="loginForm" (ngSubmit)="createCustomerDx()">
        <mat-form-field>
          <mat-label>Elige tu grupo de test</mat-label>
          <mat-select formControlName="dx">
            <mat-option *ngFor="let dx of dxs" [value]="dx.id" (click)="dxSelected = dx.id">
              {{dx.dx}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="start-container">
          <button type="submit" mat-raised-button color="primary">Empezar</button>
        </div>
      </form>
    </div>
  </div>
</div>
