.header {
  height: 60px;
  background: blue;
}

.header > span {
  color: black;
}

.navbar {
  background-color: #9816bd !important;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-link {
  color: #ffffff !important;
  cursor: pointer;
}
