<nav class="navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand">Montessori</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="closeSession()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
