<app-header></app-header>
<div class="main-container-login">
  <div *ngIf="test" class="card-login">
    <div class="main-container">
      <p class="title">{{test.name}}</p>
      <p class="mb-3"><span class="recommendation">Recomendación: </span>{{test.recommendation}}</p>
      <hr>
      <ng-container *ngFor="let question of test.questions; index as i">
        <label id="example-radio-group-label">
          <div class="d-flex">
            <div class="mr-1">
              <span class="question-index"
                    [ngClass]="validateCheck(question) || question.hasCheck ? 'selected' : ''">{{i + 1}}</span>
            </div>
            <div>{{question.question}}</div>
          </div>
        </label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button *ngFor="let option of question['options_value']"
                            (click)="createOrUpdateAnswer(question, option.id)"
                            class="example-radio-button"
                            [value]="option.id" [checked]="option.selected">
            {{option.option}}
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>
      <div class="start-container">
        <button (click)="endTest()" type="submit" mat-raised-button color="primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
