.title {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px;
}

.main-container-login {
  background: #e9ebee;
  min-height: 100vh;
  padding: 120px 15px;
}

.card-login {
  max-width: 700px;
  top: 20px;
  margin: 0 auto;
}

button {
  width: 100%;
}

.main-container {
  margin: 0 auto;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.recommendation {
  color: red;
  font-weight: 700;
}

.question-index {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border: 2px solid #ba53d8;
  display: inline-block;
  color: #ba53d8;
  font-weight: 500;
}

.question-index.selected {
  background: #ba53d8;
  color: white;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ba53d8 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ba53d8 !important;
}
