.main-container-login {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 13%, rgba(113, 14, 152, 1) 68%, rgba(118, 3, 149, 1) 74%);
  height: 100vh;
  position: relative;
}

.card-success {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 21px 15px;
  text-align: center;
}

.card-success p {
  color: #6BA545;
}

.container-actions {
  position: absolute;
  bottom: 20px;
}

.icon-success {
  width: 105px;
  height: 80px;
}
