<app-header></app-header>
<div class="main-container-login">
  <div class="card-success">
    <p class="text-center font-weight-bold">¡Has finalizado con éxito los Test!</p>
    <img class="icon-success d-block m-auto" src="./assets/img/end-icon.gif"/>
    <button routerLink="/dx" type="submit" mat-raised-button color="primary">Nuevo grupo de test</button>
  </div>
</div>
