<div class="main-container-login">
  <div class="card-login">
    <div class="main-container">
      <p class="title">Montessori</p>
      <mat-tab-group>
        <mat-tab label="Ingresa">
          <div class="container-tab">

            <form ngNativeValidate [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input formControlName="username" autocomplete="off" matInput>
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button class="eye-icon" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="start-container">
                <button type="submit" mat-raised-button color="primary">Ingresar</button>
              </div>
            </form>

          </div>
        </mat-tab>
        <mat-tab label="Registrate">
          <div class="container-tab">

            <form ngNativeValidate [formGroup]="formSingUp" (ngSubmit)="singUp()">
              <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input formControlName="first_name" autocomplete="off" matInput>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input formControlName="last_name" matInput>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Edad</mat-label>
                <mat-select formControlName="age">
                  <ng-container *ngFor="let number of numbers; index as i">
                    <mat-option *ngIf="i>9" [value]="i">
                      {{i}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" type="password" [(ngModel)]="passwordFirst" matInput>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Repite tu contraseña</mat-label>
                <input formControlName="password2" type="password" [(ngModel)]="passwordCheck" matInput>
                <mat-icon *ngIf="passwordCheck"
                          [ngClass]="passwordFirst === passwordCheck && passwordFirst ? 'color-green' : 'color-red'"
                          matSuffix>{{passwordFirst === passwordCheck && passwordFirst ? 'done' : 'clear'}}</mat-icon>
              </mat-form-field>

              <div *ngIf="registerClick" class="alert alert-success"
                   [ngClass]="singUpStatus ? 'alert-success': 'alert-danger'" role="alert">
                <div *ngIf="singUpStatus; else created">
                  Tu cuenta fue creada con éxito tu usuario es: {{username}}
                </div>
                <ng-template #created>
                  Tus datos coinsiden con el usuario: {{username}}
                </ng-template>
              </div>

              <div class="start-container">
                <button mat-raised-button color="primary">Registrarse</button>
              </div>
            </form>

          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
