.title {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.main-container-login {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 13%, rgba(113, 14, 152, 1) 68%, rgba(118, 3, 149, 1) 74%);
  height: 100vh;
  position: relative;
}

.card-login {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.container-tab {
  width: 80%;
  margin: 20px auto 0px auto;
}

button {
  width: 100%;
}

.main-container {
  margin: 0 auto;
}

.eye-icon {
  font-size: 22px !important;
}

.dismiss {
  position: absolute;
  right: 10px;
}

.alert-dismissible {
  padding-right: 35px;
}
