@import url('https://fonts.googleapis.com/css?family=Basic&display=swap');

* {
  outline: none;
  font-family: 'Basic', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  margin: 0px;
}

.main-container {
  margin: 0  auto 100px auto;
  border-radius: 15px;
  background: white;
  border: 3px solid #f7f7f9;
  padding: 1.5rem;
  position: relative;
}

.mat-form-field {
    width: 100%;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}
